PORT=<PORT>
ALLOWED_CLIENTS=<CLIENTS_LIST>
NODE_ENV=<PRODUCTION>
RPC_ENDPOINT=<ENDPOINT_URL>
TWITTER_API=<TWITTER_API>
PUMP_API=<PUMP_API>
PUMP_PORTAL_API=<PUMP_PORTAL_API>
OPENAI_PROMPT_DOC_ID=<OPEN_AI_PROMPT_DOC_ID>

CUSTOM_AI_PROMPT_DOC_ID=<CUSTOM_AI_PROMPT_DOC_ID>